@font-face {
  font-family: "TTRicordiGreto-Regular";
  src: url("fonts/TTRicordiGreto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "TTRicordiGreto-Regular", serif;
  background: #f8f8f8;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}
#catalog {
  text-align: center;
  margin-bottom: 10px;
}

#search-css {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 65px;
  gap: 0.5rem;
  font-family: "TTRicordiGreto-Regular", serif;
}

.hidden-opacity {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

.visible-opacity {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 1s ease, transform 1s ease;
}

#catalog.visible-opacity {
  transition-duration: 1s;
}

#search-css {
  transition-duration: 1s;
    font-family: "TTRicordiGreto-Regular", serif;
}

#product-list {
  transition-duration: 1s;
}

.search-row {
  display: flex;
  gap: 10px;
    font-family: "TTRicordiGreto-Regular", serif;
}

.search-row input {
  padding: 0.5em;
  font-size: 1rem;
    font-family: "TTRicordiGreto-Regular", serif;
}

.search-row button {
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
    font-family: "TTRicordiGreto-Regular", serif;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center; 
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 300px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.card h2 {
  font-size: 1.1rem;
  color: #333;
}

.card p {
  color: #555;
}

.circle-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  z-index: 999;
  opacity: 1;
  transition: opacity 2s ease;
  pointer-events: auto;
}

.circle-loader.hidden {
  opacity: 0;
  pointer-events: none;
}
.loader-center {
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 2s linear infinite;
  top: 0;
  left: 0;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #007bff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(calc(36deg * var(--i))) translateX(80px);
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
